ion-content {
    --ion-background-color: darkslategray;
}

.title-app {
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 700;
}

.div-center {
    margin-top: 20%;
    text-align: center;
}

.icon {
    font-size: 20px;
}

.grid {
    margin-top: 20%;
}

.col-google {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.col-facebook {
    margin-top: 5%;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
}