.tab-bar {
    --ion-background-color: #1565c0;
}

ion-toolbar {
    --background: #1565c0;
}

.icon-history {
    font-size: 26px;
    color: #FFFFFF;
    margin-right: 5px;
}

ion-content {
    --overflow: hidden;
}

