.label-name-theo-doi {
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
}

.label-time-theo-doi {
    color: grey;
    font-size: 12px;
}

.col-time-theo-doi {
    text-align: right;
}

.label-lo-theo-doi {
    color: blue;
}

.label-result {
    color: black;
}

.label-de-theo-doi {
    color: red;
}

.card {
    --background:antiquewhite ;
}

