.icon-close {
    font-size: 30px;
    color: #FFFFFF;
}

ion-toolbar {
    --background: #1565c0;
}  

.button-close {
    margin-right: 2%;
}

.label-thongtin {
    color: #1565c0;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}


.txt-thongtin {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.margin-10 {
    margin-left: 10%;
}