.inputNgay {
  border: 1px double black;
  height: 35px;
  color: 14px;
  text-align: center;
  border-radius: 5px;
}

.item-do-dai-cau {
  --background: darkgrey;
}

.btnSoiCau {
  height: 35px;
  text-align: center;
  --background: #1565c0;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  width: 30%;
  margin-left: 35%;
}

.do-dai-cua-cau {
  max-width: 150px;
  font-size: 14px;
  font-weight: 600;
  line-height: 4;
  color: black;
}

.row-first{
  height: 50px;
}

.selectDodai {
  font-size: 14px;
  border-radius: 5px;
  height: 95%;
  background-color: lightblue;
  text-align: center;
}

.ngay {
  font-size: 14px;
  line-height: 4;
  font-weight: 600;
}

.tuy-chon {
  font-weight: 600;
  font-size: 13px;
  line-height: 2.5;
}

.icon-dropdown {
  font-size: 20px;
  margin-top: 5px;
}

.col-center {
  text-align: center;
}

.ion-range {
  height: 100%;
  --bar-background-active: #1565c0;
}

.col-right {
  text-align: right;
}

.col-left {
  text-align: left;
}

ion-header {
  border-bottom: 1px inset grey;
}

.ion-datetime {
  font-size: 13px;
  text-align: center;
  background-color: lightblue;
  border-radius: 5px;
}

.icon-calendar {
  margin-top: 10px;
}

.txt-check-box {
  font-size: 14px;
  margin-left: 5px;
}

.checkBox {
  --background-checked: #1565c0;
  --border-color-checked: #1565c0;
}

.row-tuychon-one {
  background-color: aliceblue;
}

.row-tuychon-two {
  background-color: aliceblue;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.so-ngay-cau-chay {
  color: grey;
  font-weight: 600;
}

.div-center {
  text-align: center;
  margin-top: 2%;
}

.col-cau-chay {
  border-bottom: 3px inset grey;
  text-align: center;
  margin: 2px;
}

.col-cau {
  border: 1px double #3c454e;
  margin: 2%;
  background-color: #62a2f1;
}

.text-kq-soi-cau {
  font-size: 14px;
}

.div-text-kq-soi-cau {
  padding: 10px;
}

.number {
  font-weight: 700;
}

.caudep {
  font-size: 14px;
}

.center {
  text-align: center;
}

.txt-do-dai-cau {
  color: #1565c0;
  font-weight: 600;
  margin-right: 5px;
}

.error-info {
  text-align: center;
}
