ion-content {
  --ion-background-color: #ffffff;
}

ion-header {
  background-color: #ffffff;
}

.segment-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.segment {
  --color: #1565c0;
  --background-checked: #1565c0;
  --border-color: #1565c0;
  --color-checked: #ffffff;
  --border-width: 1px;
  --background: #ffffff;
}

.col-arrow-back {
  text-align: left;
}

.col-arrow-forward {
  text-align: right;
}

.col-arrow-datetime {
  text-align: center;
}

.arrow-forward {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.arrow-back {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.grid-date-time {
  background-color: #1565c0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 1%;
}

.grid-kq {
  background-color: #ffffff;
}

.txt-date-time {
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
}

.col-center {
  text-align: center;
}

.row-kq {
  border-bottom: 1px inset #b0bec5;
  border-right: 1px inset #b0bec5;
}

.col-center-giai {
  text-align: center;
  border-right: 1px inset #b0bec5;
  border-left: 1px inset #b0bec5;
}

.col-center-dacbiet {
  text-align: center;
  border-top: 1px inset #b0bec5;
}

.col-center-giai-dacbiet {
  text-align: center;
  border-top: 1px inset #b0bec5;
  border-right: 1px inset #b0bec5;
  border-left: 1px inset #b0bec5;
}

.col-center-in {
  text-align: center;
  border-right: 1px inset #b0bec5;
}

.col-two-row {
  border-bottom: 1px inset #b0bec5;
}

.txt-dacbiet {
  color: red;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

.txt-giai {
  color: #000000;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

.txt-value-dacbiet {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.txt-value-giai {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.row-dau-duoi {
  color: #ffffff;
  background-color: #1565c0;
  border-bottom: 1px inset #1565c0;
  border-top: 1px inset #1565c0;
  border-right: 1px inset #1565c0;
  border-left: 1px inset #1565c0;
  font-weight: bold;
}

.col-center-border-left {
  text-align: center;
  border-left: 1px inset #1565c0;
  border-bottom: 1px inset #1565c0;
}

.col-center-right {
  text-align: center;
  border-left: 1px inset #1565c0;
  border-bottom: 1px inset #1565c0;
  border-right: 1px inset #1565c0;
}

.img-calendar {
  width: 30px;
  height: 20px;
}

.itemDateTime {
  --background: #1565c0;
  color: #ffffff;
  margin-left: 15%;
  font-weight: 600;
}

.border-top-left {
  border-top: 1px inset grey;
  border-left: 1px inset grey;
}

.border-top-left-right {
  border-top: 1px inset grey;
  border-left: 1px inset grey;
  border-right: 1px inset grey;
}

.border-bottom {
  border-bottom: 1px inset grey;
}

.text-datetime-mien-nam {
  font-size: 14px;
}

.txt-giai-tam-mien-nam {
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
}

.try-again-button {
  text-align: center;
}

.location {
  font-size: 14px;
  font-weight: 600;
  color: #1565c0;
}

.border-top-right {
  border-top: 1px inset grey;
  border-right: 1px inset grey;
}

.line-height-3 {
  line-height: 3;
}




