<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios" slot="start" class="icon-toolbar">
      <ion-back-button text="" defaultHref="tabs/navi" class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" class="text-toolbar">Lịch Sử</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-title">
    <ion-text class="title-kqxs">Kết quả xổ số Miền Bắc</ion-text>
  </div>
  <ion-grid>
    <ion-row class="row-two">
      <ion-col class="center">
        <ion-checkbox mode='md' [(ngModel)]="checkBoxBangDauDuoi"></ion-checkbox>
        <ion-text class="bang-dau-duoi">Bảng đầu đuôi</ion-text>
      </ion-col>
      <ion-col class="center">
        <ion-checkbox mode='md' [(ngModel)]="checkBoxHienDB"></ion-checkbox>
        <ion-text class="bang-dau-duoi">Chỉ hiện giải ĐB</ion-text>
      </ion-col>
    </ion-row>
    <ion-button mode='ios' (click)="xemKetQua()" class="xem-ketqua">Xem kết quả</ion-button>
  </ion-grid>
  <div *ngFor="let lichSu of lichSus" class="div-lichsu">
    <ion-grid>
      <ion-row class="row-ngay">
        <ion-col class="center">
          <ion-text class="txt-ngay">{{lichSu.ngaychot | date: "dd-MM-y"}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai">
        <ion-col size="2" class="border-left border-top border-right border-bottom center">
          <ion-text class="txt-dacbiet">
            ĐB
          </ion-text>
        </ion-col>
        <ion-col class="border-top border-right border-bottom center">
          <ion-text class="txt-dacbiet">
            {{lichSu.kq0}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai" *ngIf="onNotShowDB">
        <ion-col size="2" class="border-right border-left center">
          <ion-text class="txt-giai">
            Nhì
          </ion-text>
        </ion-col>
        <ion-col class="border-right center">
          <ion-text class="txt-giai">
            {{lichSu.kq1}}
          </ion-text>
        </ion-col>
        <ion-col class="border-right center">
          <ion-text class="txt-giai">
            {{lichSu.kq2}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai" *ngIf="onNotShowDB">
        <ion-col size="2" class="col-db-center-1">
          <ion-text class="txt-giai">
            Ba
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-row>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq3}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq4}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq5}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq6}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq7}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq8}}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai" *ngIf="onNotShowDB">
        <ion-col size="2" class="col-db-center-1">
          <ion-text class="txt-giai">
            Tư
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq9}}
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq10}}
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq11}}
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq12}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai" *ngIf="onNotShowDB">
        <ion-col size="2" class="col-db-center-1">
          <ion-text class="txt-giai">
            Năm
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-row>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq13}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq14}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq15}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq16}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq17}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="txt-giai">
                {{lichSu.kq18}}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai" *ngIf="onNotShowDB">
        <ion-col size="2" class="col-db-center-1">
          <ion-text class="txt-giai">
            Sáu
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq20}}
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq21}}
          </ion-text>
        </ion-col>
        <ion-col class="col-db-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq22}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="row-giai" *ngIf="onNotShowDB">
        <ion-col size="2" class="col-bottom-center-1">
          <ion-text class="txt-giai">
            Bảy
          </ion-text>
        </ion-col>
        <ion-col class="col-bottom-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq23}}
          </ion-text>
        </ion-col>
        <ion-col class="col-bottom-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq24}}
          </ion-text>
        </ion-col>
        <ion-col class="col-bottom-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq25}}
          </ion-text>
        </ion-col>
        <ion-col class="col-bottom-center-2">
          <ion-text class="txt-giai">
            {{lichSu.kq26}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="onShowBangDauDuoi">
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">Đầu</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">Loto</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">Đuôi</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau0}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">0</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit0}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau1}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">1</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit1}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau2}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">2</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit2}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau3}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">3</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit3}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau4}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">4</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit4}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau5}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">5</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit5}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau6}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">6</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit6}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau7}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">7</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit7}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-db-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau8}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-db-center-2 row-loto">
          <ion-text class="txt-giai">8</ion-text>
        </ion-col>
        <ion-col size="5" class="col-db-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit8}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-bottom-center-1 row-dau">
          <ion-text class="txt-giai">{{lichSu.dau9}}</ion-text>
        </ion-col>
        <ion-col size="2" class="col-bottom-center-2 row-loto">
          <ion-text class="txt-giai">9</ion-text>
        </ion-col>
        <ion-col size="5" class="col-bottom-center-2 row-duoi">
          <ion-text class="txt-giai">{{lichSu.dit9}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="lichSus.length > 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Load more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row class="ion-align-items-center ion-justify-content-center" style='margin-top: 30%;' *ngIf="isError">
    <ion-spinner class="spinner" name="lines" *ngIf="isFirstTimeLoading"></ion-spinner>
    <div class="try-again-button" *ngIf="errorinfo">
      <ion-text>Error happens.Try again !</ion-text>
      <br>
      <ion-button shape="round" color="light" (click)="retry()">
        Try again
      </ion-button>
    </div>
  </ion-row>
</ion-content>